* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

header {
    display: flex;
    background-color: #0d182e;
    background-image: url("images/bg.png");
    background-size: cover;
    height: 200px;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 3rem 2.5rem;
    gap: 1rem;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header img {
    width: 100px;
    height: 100px;
}

.header-text h1 {
    color: #32CD32;
    font-size: 2.5rem;
}

.header-text h2 {
    color: white;
    font-weight: 500;
    font-size: 0.75rem;
}

.selection-container {
    text-align: center;
    margin: 1rem;
}

select {
    width: 80%;
    padding: 0.8rem;
    border: 2px solid #252F42;
    border-radius: 10px;
    color: #333333;
    appearance: none;
    background: url("images/down-arrow.png") 95% center no-repeat;
    background-size: 20px;
    font-weight: 500;
    background-color: #F5F5F5;
    cursor: pointer;

}

select:focus {
    outline: none;
}

main{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid #252F42;
    justify-self: center;
    border-radius: 10px;
    padding:  1rem 0.65rem ;
    min-height: 60vh;
    max-height: 100%;
}
.chatbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;

}

.chat{
    margin-bottom: 1.25rem;
    padding: 1.15rem;
    color: white;
    font-weight: 500;
}
.ai-msg{
    background-color: #035a9d;
    border-radius: 20px 0px 20px 20px;
    width: 95%;
    align-self: flex-end;
}
.ai-msg p , .user-msg p {
    overflow:auto;
    text-wrap: wrap;
    width: 100%;
}

.user-msg{
    background-color: #65da65;
    border-radius: 0px 20px 20px 20px; 
    color: #333333;
    width: 95%;
}

.input-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    justify-self: flex-end;
    background-color: #F5F5F5;
    border: 1.5px solid #586E88;
    padding: 1rem;
    border-radius: 10px;
}
.input-container input{
    width: 100%;
    padding: 0rem 0.5rem;
    border: none;
    background-color: transparent;
    height: 100%;
    font-size: 1rem;
}
.input-container input:focus{
    outline: none;
}

#send-btn{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-image: url(images/send-btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
    align-self: flex-end;
    margin-bottom: 1px;
    color: #333333;
}

